.contacts {
  width: 100%;
  height: fit-content;
  color: #ffffff;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  background: linear-gradient(#09090940, #09090940), url(./Contact-banner.png) no-repeat top center;
  background-size: cover;
  position: relative;

  @media (min-width: 1600px) {
    height: 100vh;
  }

  &__container {
    width: 850px;
    height: 100%;
    margin: 0 auto;
    padding: 120px 70px 100px;
    background: #110E0E80;
  }
  
  & input {
    outline: none;
    border: none;

    &:active, &:focus {
      color: #F8AB11;
      border: 2px solid #F8AB11;
    }
  }

  &__form {
    width: 90%;
    margin: 50px auto;
  }

  &__complete_img {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    text-align: left;
  }

  &__complete_title {
    width: 500px;
    font-size: 30px;
    color: #ffffff;
    margin: 30px auto;
    text-align: left;
  }

  &__footer {
    display: flex;
    justify-content: center;
  }

  &__left {
    margin-right: 8%;
  }

  &__button {
    margin: 25px auto;
  }
}
